.m-top-75 {
    margin-top: 75px;
    margin-right: 75px;

  }
.jumbotron {
    color: #fff;
    background: #BC2731;
    width: 100%;
    height: 100%;
    padding:25px;
    text-align: center
  }

.btn-primary {
    background-color: white !important;
    background: #fff;
} 

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    font-weight: 300;
    text-align: center
  }
  
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center
  }
  
h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    text-align: center
  }

.weather-box {
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    background: #BC2731;
    color: white;
}
.table-box {
    border-style: solid;
    border-width: 2px;
    border-color: black; 
}

.sigline{
    color: white;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

